<% provide(:title, 'Forgot password') %>
<h1>Forgot password</h1>

<div class="row-fluid">
  <div class="col-md-6 col-md-offset-3">
    <%= simple_form_for(:password_reset, url: password_resets_path) do |f| %>
      <%= f.input :email %>
      <div class='m-b'><%= recaptcha_tags %><span class="help-block pull-left" style="color:#a94442;"><%=@captcha_error%></span></div>
      <%= f.button :submit, "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>